In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
current_directory = os.getcwd()
current_directory

'c:\\Users\\yunus\\Desktop\\MSc\\Digital Driven Business\\Subjects\\Digital Marketing Strategy\\Dataset'

In [4]:
os.chdir("C:\\Users\\yunus\\Desktop\\MSc\\Digital Driven Business\\Subjects\\Digital Marketing Strategy\\Dataset")

In [5]:
# read the csv
# Assuming semicolon is the correct delimiter for your CSV files
themepark_1 = pd.read_csv("Themeparcs I.csv", sep=';', on_bad_lines='skip')
themepark_2 = pd.read_csv("Themeparcs II.csv", sep=';', on_bad_lines='skip')
themepark_3 = pd.read_csv("Themeparcs III.csv", sep=';', on_bad_lines='skip')
themepark_4 = pd.read_csv("Themeparcs IV.csv", sep=';', on_bad_lines='skip')

**Check for amount of rows and columns for each df**

In [6]:
themepark_1.shape

(5000, 18)

In [7]:
themepark_2.shape

(5000, 18)

In [8]:
themepark_3.shape

(5000, 18)

In [9]:
themepark_4.shape

(443, 18)

In [10]:
# Amount of total rows for each df
5000+5000+5000+443

15443

**Features check for each df**

In [11]:
themepark_1.dtypes

Date                             object
Profile                          object
Message                          object
Number of Reactions             float64
Number of Shares                float64
Number of Comments (primary)    float64
Number of Shares.1              float64
Comments per post               float64
Comments on posts by fans       float64
Post interaction rate            object
Engagement                       object
Number of Likes                 float64
Link-posts                      float64
Picture Posts                   float64
Video-posts                     float64
Profile-ID                       object
Post-ID                          object
Link                             object
dtype: object

In [12]:
themepark_2.dtypes

Date                             object
Profile                          object
Message                          object
Number of Reactions             float64
Number of Shares                float64
Number of Comments (primary)    float64
Number of Shares.1              float64
Comments per post               float64
Comments on posts by fans       float64
Post interaction rate            object
Engagement                       object
Number of Likes                 float64
Link-posts                      float64
Picture Posts                   float64
Video-posts                     float64
Profile-ID                       object
Post-ID                          object
Link                             object
dtype: object

In [13]:
themepark_3.dtypes

Date                             object
Profile                          object
Message                          object
Number of Reactions             float64
Number of Shares                float64
Number of Comments (primary)    float64
Number of Shares.1              float64
Comments per post               float64
Comments on posts by fans       float64
Post interaction rate            object
Engagement                       object
Number of Likes                 float64
Link-posts                      float64
Picture Posts                   float64
Video-posts                     float64
Profile-ID                       object
Post-ID                          object
Link                             object
dtype: object

In [14]:
themepark_4.dtypes

Date                             object
Profile                          object
Message                          object
Number of Reactions             float64
Number of Shares                float64
Number of Comments (primary)    float64
Number of Shares.1              float64
Comments per post               float64
Comments on posts by fans       float64
Post interaction rate            object
Engagement                       object
Number of Likes                 float64
Link-posts                      float64
Picture Posts                   float64
Video-posts                     float64
Profile-ID                       object
Post-ID                          object
Link                             object
dtype: object

Based on above shown 'dtypes' we can conclude that all features of the 4 dataframes are the same. Therefore, we can continue with merging those 4 df

In [15]:
# Show the first couple of rows of the first csv file 
themepark_1.head()

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...

In [16]:
# Merge the DataFrames
merged_themepark = pd.concat([themepark_1, themepark_2, themepark_3, themepark_4], ignore_index=True)

# If you want to save the merged DataFrame to a new CSV file
merged_themepark.to_csv("Merged_Themeparks.csv", index=False)

In [17]:
merged_themepark.to_csv

<bound method NDFrame.to_csv of                    Date                                    Profile  \
0      12/31/23 9:40 PM                 Wild Adventures Theme Park
1      12/31/23 8:01 PM                           Fun Spot America
2      12/31/23 7:30 PM                           Fun Spot America
3      12/31/23 7:00 PM                           Disneyland Paris
4      12/31/23 7:00 PM                      Silverwood Theme Park
...                 ...                                        ...
15438  01/01/2023 02:00                 Wild Adventures Theme Park
15439  01/01/2023 01:20                                   Playland
15440  01/01/2023 00:01                           Disneyland Paris
15441  01/01/2023 00:00  Six Flags Over Georgia & Hurricane Harbor
15442  01/01/2023 00:00                         Knott's Berry Farm

                                                 Message  Number of Reactions  \
0      üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...                 16.0
1      See you next year! üòâ                Don‚Äôt miss...                 38.0
2      Don't miss our HUGE firework display ! ü•≥\n\n#f...                 23.0
3         Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ                646.0
4      It's the last day of our New Year's Sale! Save...                 17.0
...                                                  ...                  ...
15438  LAST CHANCE! \n\nPrices on 2023 Season Passes ...                 20.0
15439  O Grupo Playcenter e os Parques Playcenter Fam...                  7.0
15440  Gelukkig 2023! Laat de magie dit jaar stralen ...                833.0
15441  What are your 2023 New Years resolutions? ‚ú®\n\...                 58.0
15442  The countdown to 2023 is on!üéâ Join us tonight ...                451.0

       Number of Shares  Number of Comments (primary)  Number of Shares.1  \
0                   NaN                           2.0                 2.0
1                   NaN                           1.0                 2.0
2                   NaN                           2.0                 3.0
3                   NaN                          52.0                12.0
4                   NaN                           2.0                 0.0
...                 ...                           ...                 ...
15438               NaN                           1.0                 0.0
15439               NaN                           1.0                 0.0
15440               NaN                          40.0                31.0
15441               NaN                           7.0                 2.0
15442               NaN                          31.0                28.0

       Comments per post  Comments on posts by fans Post interaction rate  \
0                    2.0                        2.0              1,09E+12
1                    1.0                        1.0              4,17E+11
2                    2.0                        2.0              2,85E+11
3                   56.0                       56.0              1,36E+11
4                    2.0                        2.0              4,96E+11
...                  ...                        ...                   ...
15438                2.0                        2.0              1,25E+11
15439                1.0                        1.0              2,46E+09
15440               44.0                       44.0              1,75E+12
15441                9.0                        9.0              1,42E+12
15442               66.0                       66.0              8,60E+11

      Engagement  Number of Likes  Link-posts  Picture Posts  Video-posts  \
0       1,09E+12             13.0         NaN            1.0          NaN
1       4,17E+11             33.0         NaN            NaN          NaN
2       2,85E+11             21.0         NaN            NaN          1.0
3       1,36E+11            478.0         NaN            1.0          NaN
4       4,96E+11             16.0         NaN            NaN          1.0
...          ...              ...         ...            ...          ...
15438   1,25E+11             20.0         NaN            1.0          NaN
15439   2,46E+09              7.0         NaN            1.0          NaN
15440   1,75E+12            621.0         NaN            NaN          1.0
15441   1,42E+12             49.0         NaN            1.0          NaN
15442   8,60E+11            399.0         NaN            1.0          NaN

        Profile-ID                           Post-ID  \
0      84679583132       84679583132_770120045161180
1       1,8402E+11      184020466977_767286052104076
2       1,8402E+11      184020466977_767267948772553
3      6,52389E+14   652389081615295_775974521237956
4      7,62702E+14   762701550509617_678920137770716
...            ...                               ...
15438  84679583132     84679583132_10159284713193133
15439  1,70866E+14  170865866397863_2401446080006486
15440  6,52389E+14  652389081615295_2176203019233886
15441  34284255238     34284255238_10160187479800239
15442  10286130875     10286130875_10158812069760876

                                                    Link
0      https://www.facebook.com/617429960430190/posts...
1      https://www.facebook.com/653224623510220/posts...
2      https://www.facebook.com/653224623510220/posts...
3      https://www.facebook.com/724434559725286/posts...
4      https://www.facebook.com/562559642740100/posts...
...                                                  ...
15438  https://www.facebook.com/WildAdventures/photos...
15439  https://www.facebook.com/170865866397863/posts...
15440  https://www.facebook.com/652389081615295/posts...
15441  https://www.facebook.com/sixflagsovergeorgia/p...
15442  https://www.facebook.com/KnottsBerryFarm/photo...

[15443 rows x 18 columns]>

In [18]:
# Split the single column into multiple columns using the semicolon delimiter
split_data = merged_themepark[merged_themepark.columns[0]].str.split(';', expand=True)

In [19]:
# Assign the new DataFrame columns to the correct names
# Replace these names with the actual column names you expect based on your data
column_names = ['Date', 'Profile', 'Message', 'Number of Reactions', 'Number of Shares', 
                'Number of Comments (primary)', 'Number of Shares', 'Comments per post', 
                'Comments on posts by fans', 'Post interaction rate', 'Engagement', 
                'Number of Likes', 'Link-posts', 'Picture Posts', 'Video-posts', 
                'Profile-ID', 'Post-ID', 'Link']

In [20]:
# Ensure the number of column names matches the number of columns in 'split_data'
if len(column_names) == split_data.shape[1]:
    split_data.columns = column_names
else:
    print("The number of provided column names does not match the number of columns in the data.")

The number of provided column names does not match the number of columns in the data.

## Merged df with all data

In [21]:
merged_themepark

,Date,Profile,Message,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,01/01/2023 02:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,20.0,NaN,1.0,0.0,2.0,2.0,"1,25E+11","1,25E+11",20.0,NaN,1.0,NaN,84679583132,84679583132_10159284713193133,https://www.facebook.com/WildAdventures/photos...
15439,01/01/2023 01:20,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,7.0,NaN,1.0,0.0,1.0,1.0,"2,46E+09","2,46E+09",7.0,NaN,1.0,NaN,"1,70866E+14",170865866397863_2401446080006486,https://www.facebook.com/170865866397863/posts...
15440,01/01/2023 00:01,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,833.0,NaN,40.0,31.0,44.0,44.0,"1,75E+12","1,75E+12",621.0,NaN,NaN,1.0,"6,52389E+14",652389081615295_2176203019233886,https://www.facebook.com/652389081615295/posts...
15441,01/01/2023 00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,58.0,NaN,7.0,2.0,9.0,9.0,"1,42E+12","1,42E+12",49.0,NaN,1.0,NaN,34284255238,34284255238_10160187479800239,https://www.facebook.com/sixflagsovergeorgia/p...
15442,01/01/2023 00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,451.0,NaN,31.0,28.0,66.0,66.0,"8,60E+11","8,60E+11",399.0,NaN,1.0,NaN,10286130875,10286130875_10158812069760876,https://www.facebook.com/KnottsBerryFarm/photo...

## Sentiment Analysis

In [22]:
# Understand the sentiment of feature 'Message' by using sentiment analysis
# Import library natural language toolkit
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer

In [23]:
# Download the VADER lexicon
nltk.download('vader_lexicon')

# Initialize the VADER sentiment intensity analyzer
sia = SentimentIntensityAnalyzer()

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\yunus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [24]:
# Example messages to analyze
messages = [
    "Today's the FINAL day to use your 2023 Sea...",
    "See you next year! üòä Don't miss...",
    "Don't miss our HUGE firework display! üéÜ",
    # Add all other messages here
]

# Function to analyze the sentiment of each message
def analyze_sentiment(messages):
    results = []
    for message in messages:
        # Get the sentiment scores for each message
        sentiment_score = sia.polarity_scores(message)
        results.append(sentiment_score)
    return results

# Call the function and print the results
sentiment_results = analyze_sentiment(messages)
for message, sentiment in zip(messages, sentiment_results):
    print(f"Message: {message}")
    print(f"Sentiment: {sentiment}\n")

Message: Today's the FINAL day to use your 2023 Sea...
Sentiment: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

Message: See you next year! üòä Don't miss...
Sentiment: {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound': 0.0}

Message: Don't miss our HUGE firework display! üéÜ
Sentiment: {'neg': 0.339, 'neu': 0.485, 'pos': 0.175, 'compound': -0.3297}

In [25]:
# Make sure you have the VADER lexicon downloaded
nltk.download('vader_lexicon')

# Initialize the VADER sentiment intensity analyzer
sia = SentimentIntensityAnalyzer()

# Assuming 'df' is your dataframe with a 'Message' column
merged_themepark['Sentiments'] = merged_themepark['Message'].apply(lambda x: sia.polarity_scores(x))

print(merged_themepark[['Message', 'Sentiments']])

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\yunus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

                                                 Message  \
0      üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...
1      See you next year! üòâ                Don‚Äôt miss...
2      Don't miss our HUGE firework display ! ü•≥\n\n#f...
3         Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ
4      It's the last day of our New Year's Sale! Save...
...                                                  ...
15438  LAST CHANCE! \n\nPrices on 2023 Season Passes ...
15439  O Grupo Playcenter e os Parques Playcenter Fam...
15440  Gelukkig 2023! Laat de magie dit jaar stralen ...
15441  What are your 2023 New Years resolutions? ‚ú®\n\...
15442  The countdown to 2023 is on!üéâ Join us tonight ...

                                              Sentiments
0      {'neg': 0.0, 'neu': 0.687, 'pos': 0.313, 'comp...
1      {'neg': 0.076, 'neu': 0.765, 'pos': 0.159, 'co...
2      {'neg': 0.172, 'neu': 0.739, 'pos': 0.089, 'co...
3      {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
4      {'neg': 0.0, 'neu': 0.824, 'pos': 0.176, 'comp...
...                                                  ...
15438  {'neg': 0.0, 'neu': 0.644, 'pos': 0.356, 'comp...
15439  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
15440  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
15441  {'neg': 0.0, 'neu': 0.83, 'pos': 0.17, 'compou...
15442  {'neg': 0.0, 'neu': 0.722, 'pos': 0.278, 'comp...

[15443 rows x 2 columns]

In [26]:
# Create a dataframe
df_themepark = merged_themepark

# Define a function to extract the highest sentiment
def extract_highest_sentiment(sentiments):
    # Exclude the 'compound' score as it's a combined score, not a separate sentiment
    sentiments.pop('compound', None)
    # Return the key with the highest value
    return max(sentiments, key=sentiments.get)

# Apply the function to the 'Sentiments' column to create the 'Highest_Sentiment' column
df_themepark['Highest_Sentiment'] = df_themepark['Sentiments'].apply(extract_highest_sentiment)

# Insert the 'Highest_Sentiment' column right after the 'Message' column
message_col_index = df_themepark.columns.get_loc('Message')
df_themepark.insert(message_col_index + 1, 'Highest_Sentiment', df_themepark.pop('Highest_Sentiment'))

**Create a new df that insert a new feature named: Highest_Sentiment**

In [27]:
df_themepark

,Date,Profile,Message,Highest_Sentiment,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Post interaction rate,Engagement,Number of Likes,Link-posts,Picture Posts,Video-posts,Profile-ID,Post-ID,Link,Sentiments
0,12/31/23 9:40 PM,Wild Adventures Theme Park,üéüÔ∏èüö® Today's the FINAL day to use your 2023 Sea...,neu,16.0,NaN,2.0,2.0,2.0,2.0,"1,09E+12","1,09E+12",13.0,NaN,1.0,NaN,84679583132,84679583132_770120045161180,https://www.facebook.com/617429960430190/posts...,"{'neg': 0.0, 'neu': 0.687, 'pos': 0.313}"
1,12/31/23 8:01 PM,Fun Spot America,See you next year! üòâ Don‚Äôt miss...,neu,38.0,NaN,1.0,2.0,1.0,1.0,"4,17E+11","4,17E+11",33.0,NaN,NaN,NaN,"1,8402E+11",184020466977_767286052104076,https://www.facebook.com/653224623510220/posts...,"{'neg': 0.076, 'neu': 0.765, 'pos': 0.159}"
2,12/31/23 7:30 PM,Fun Spot America,Don't miss our HUGE firework display ! ü•≥\n\n#f...,neu,23.0,NaN,2.0,3.0,2.0,2.0,"2,85E+11","2,85E+11",21.0,NaN,NaN,1.0,"1,8402E+11",184020466977_767267948772553,https://www.facebook.com/653224623510220/posts...,"{'neg': 0.172, 'neu': 0.739, 'pos': 0.089}"
3,12/31/23 7:00 PM,Disneyland Paris,Fijne jaarwisseling! ü•Çüéâ\nEn tot volgend jaar üòâ,neu,646.0,NaN,52.0,12.0,56.0,56.0,"1,36E+11","1,36E+11",478.0,NaN,1.0,NaN,"6,52389E+14",652389081615295_775974521237956,https://www.facebook.com/724434559725286/posts...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0}"
4,12/31/23 7:00 PM,Silverwood Theme Park,It's the last day of our New Year's Sale! Save...,neu,17.0,NaN,2.0,0.0,2.0,2.0,"4,96E+11","4,96E+11",16.0,NaN,NaN,1.0,"7,62702E+14",762701550509617_678920137770716,https://www.facebook.com/562559642740100/posts...,"{'neg': 0.0, 'neu': 0.824, 'pos': 0.176}"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15438,01/01/2023 02:00,Wild Adventures Theme Park,LAST CHANCE! \n\nPrices on 2023 Season Passes ...,neu,20.0,NaN,1.0,0.0,2.0,2.0,"1,25E+11","1,25E+11",20.0,NaN,1.0,NaN,84679583132,84679583132_10159284713193133,https://www.facebook.com/WildAdventures/photos...,"{'neg': 0.0, 'neu': 0.644, 'pos': 0.356}"
15439,01/01/2023 01:20,Playland,O Grupo Playcenter e os Parques Playcenter Fam...,neu,7.0,NaN,1.0,0.0,1.0,1.0,"2,46E+09","2,46E+09",7.0,NaN,1.0,NaN,"1,70866E+14",170865866397863_2401446080006486,https://www.facebook.com/170865866397863/posts...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0}"
15440,01/01/2023 00:01,Disneyland Paris,Gelukkig 2023! Laat de magie dit jaar stralen ...,neu,833.0,NaN,40.0,31.0,44.0,44.0,"1,75E+12","1,75E+12",621.0,NaN,NaN,1.0,"6,52389E+14",652389081615295_2176203019233886,https://www.facebook.com/652389081615295/posts...,"{'neg': 0.0, 'neu': 1.0, 'pos': 0.0}"
15441,01/01/2023 00:00,Six Flags Over Georgia & Hurricane Harbor,What are your 2023 New Years resolutions? ‚ú®\n\...,neu,58.0,NaN,7.0,2.0,9.0,9.0,"1,42E+12","1,42E+12",49.0,NaN,1.0,NaN,34284255238,34284255238_10160187479800239,https://www.facebook.com/sixflagsovergeorgia/p...,"{'neg': 0.0, 'neu': 0.83, 'pos': 0.17}"
15442,01/01/2023 00:00,Knott's Berry Farm,The countdown to 2023 is on!üéâ Join us tonight ...,neu,451.0,NaN,31.0,28.0,66.0,66.0,"8,60E+11","8,60E+11",399.0,NaN,1.0,NaN,10286130875,10286130875_10158812069760876,https://www.facebook.com/KnottsBerryFarm/photo...,"{'neg': 0.0, 'neu': 0.722, 'pos': 0.278}"

In [28]:
sentiment_counts = df_themepark['Highest_Sentiment'].value_counts()

In [29]:
sentiment_counts

Highest_Sentiment
neu    14331
neg      863
pos      249
Name: count, dtype: int64

The df has the most neutral messages. What we found interesting is that negative messages be 2th. Therefore, we tend to analyze our sentiments and other features.

In [30]:
# Splitting the dataframe
df_neg = df_themepark[df_themepark['Highest_Sentiment'] == 'neg']
df_neu = df_themepark[df_themepark['Highest_Sentiment'] == 'neu']
df_pos = df_themepark[df_themepark['Highest_Sentiment'] == 'pos']

In [32]:
df_neu.describe()

,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Number of Likes,Link-posts,Picture Posts,Video-posts
count,14331.000000,0.0,14331.000000,14331.000000,14331.000000,14331.000000,14331.000000,510.0,10667.0,2358.0
mean,487.070756,NaN,34.174517,62.403391,52.264741,52.264741,349.879980,1.0,1.0,1.0
std,3817.262891,NaN,186.160289,521.417434,268.604545,268.604545,2574.086578,0.0,0.0,0.0
min,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0
25%,23.000000,NaN,1.000000,2.000000,1.000000,1.000000,19.500000,1.0,1.0,1.0
50%,68.000000,NaN,6.000000,6.000000,8.000000,8.000000,56.000000,1.0,1.0,1.0
75%,215.000000,NaN,18.000000,22.000000,27.000000,27.000000,176.000000,1.0,1.0,1.0
max,210756.000000,NaN,8379.000000,30762.000000,11170.000000,11170.000000,124591.000000,1.0,1.0,1.0

In [33]:
df_neg.describe()

,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Number of Likes,Link-posts,Picture Posts,Video-posts
count,863.000000,0.0,863.000000,863.000000,863.000000,863.000000,863.000000,39.0,720.0,74.0
mean,557.965238,NaN,36.792584,46.438007,67.844728,67.844728,411.891078,1.0,1.0,1.0
std,1978.230677,NaN,137.538343,183.290453,254.223181,254.223181,1449.451172,0.0,0.0,0.0
min,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0
25%,12.000000,NaN,0.000000,0.000000,0.000000,0.000000,10.000000,1.0,1.0,1.0
50%,38.000000,NaN,2.000000,3.000000,3.000000,3.000000,32.000000,1.0,1.0,1.0
75%,226.000000,NaN,13.000000,15.000000,19.000000,19.000000,183.000000,1.0,1.0,1.0
max,26908.000000,NaN,1707.000000,2102.000000,2908.000000,2908.000000,21444.000000,1.0,1.0,1.0

In [34]:
df_pos.describe()

,Number of Reactions,Number of Shares,Number of Comments (primary),Number of Shares.1,Comments per post,Comments on posts by fans,Number of Likes,Link-posts,Picture Posts,Video-posts
count,249.000000,0.0,249.000000,249.000000,249.000000,249.000000,249.000000,6.0,175.0,47.0
mean,688.658635,NaN,26.662651,97.574297,41.060241,41.060241,499.851406,1.0,1.0,1.0
std,2162.006160,NaN,58.953428,485.962575,91.346869,91.346869,1437.272363,0.0,0.0,0.0
min,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0,1.0
25%,25.000000,NaN,1.000000,1.000000,2.000000,2.000000,22.000000,1.0,1.0,1.0
50%,83.000000,NaN,6.000000,5.000000,7.000000,7.000000,68.000000,1.0,1.0,1.0
75%,412.000000,NaN,23.000000,29.000000,37.000000,37.000000,322.000000,1.0,1.0,1.0
max,22625.000000,NaN,417.000000,6314.000000,671.000000,671.000000,12182.000000,1.0,1.0,1.0

- Number of shares are highest for the positive df
- Number of likes are highest for the positive df

do sentiment analysis on regions of a theme parc (like which country) -> drop all theme parcs not within U.S.. Secondally, group each theme parc in regions